.cardEvento{
    width: 70%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.cardEvento h3{
    text-transform: uppercase;
}

.cardEvento:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.cardEvento:hover h3{
    color: var(--primary);
}

.cerdEvento_informaçoes{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}