.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 1rem;
    width: 100%;
}

.form input{
    width: 70%;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary);
}

.form label{
    color: var(--primary);
}

.form input::placeholder{
    color: var(--primary);
}

.form input:focus{
    outline: none;
    border: 1px solid var(--primary);
}

.form textarea{
    width: 50%;
    min-height: 150px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

.form textarea::placeholder{
    color: var(--primary);
}

.form textarea:focus{
    outline: none;
    border: 1px solid var(--primary);
}

.form button{
    margin: 1rem;
}

.form_botoes{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .form input{
        width: 100%;
    }

    .form textarea{
        width: 100%;
    }
}