.eventos {
    width: 90%;
    padding: 0rem 3rem;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.lista_eventos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.eventos h2 {
    text-align: start;
}

.lista_eventos a {
    min-height: 0%;
    padding: 0;
}