.eventos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding: 0rem 3rem;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.eventos h2{
    text-align: start;
}

.criarEvento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: .5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffff ;
    width: 100%;
}

.botao{
    border: 1px solid var(--primary);
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    
}

.botao:hover{
    background-color: var(--primary);
    color: white;
}