.criarEvento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: .5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffff ;
    width: 90%;
    border-radius: 6px;
}